CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7621
CONFIG_FIRMWARE_PRODUCT_ID="B70"
CONFIG_LINUXDIR=linux-3.4.x
CONFIG_TOOLCHAIN_DIR=/opt/rt-n56u/toolchain-mipsel
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
CONFIG_FIRMWARE_INCLUDE_RPL2TP=y
CONFIG_FIRMWARE_INCLUDE_SHADOWSOCKS=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_WYY=y
CONFIG_FIRMWARE_INCLUDE_WYYBIN=y
CONFIG_FIRMWARE_INCLUDE_ADBYBY=y
CONFIG_FIRMWARE_INCLUDE_IPT2SOCKS=y
CONFIG_FIRMWARE_INCLUDE_FRPC=y
CONFIG_FIRMWARE_INCLUDE_FRPS=y
CONFIG_FIRMWARE_INCLUDE_V2RAY=y
CONFIG_FIRMWARE_INCLUDE_TROJAN=y
#dns 去广告
CONFIG_FIRMWARE_INCLUDE_ADGUARDHOME=n

#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=y
#CONFIG_FIRMWARE_CPU_900MHZ=y
#CONFIG_FIRMWARE_CPU_SLEEP=y
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_ENABLE_USB=y
CONFIG_FIRMWARE_ENABLE_UFSD=y
CONFIG_FIRMWARE_ENABLE_FAT=y
CONFIG_FIRMWARE_ENABLE_EXFAT=y
CONFIG_FIRMWARE_ENABLE_EXT2=y
CONFIG_FIRMWARE_ENABLE_EXT3=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y
CONFIG_FIRMWARE_INCLUDE_UVC=y
CONFIG_FIRMWARE_INCLUDE_SERIAL=y
CONFIG_FIRMWARE_INCLUDE_AUDIO=n
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DA=y
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y
#CONFIG_FIRMWARE_INCLUDE_LANG_ES=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FI=y
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y
CONFIG_FIRMWARE_INCLUDE_LPRD=y
CONFIG_FIRMWARE_INCLUDE_U2EC=y
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
CONFIG_FIRMWARE_INCLUDE_HDPARM=y
CONFIG_FIRMWARE_INCLUDE_PARTED=y
CONFIG_FIRMWARE_INCLUDE_SMBD=y
CONFIG_FIRMWARE_INCLUDE_SMBD36=y
CONFIG_FIRMWARE_INCLUDE_FTPD=y
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
CONFIG_FIRMWARE_INCLUDE_SFTP=y
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=y
CONFIG_FIRMWARE_INCLUDE_ARIA=n
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n
CONFIG_FIRMWARE_INCLUDE_CURL=y
CONFIG_FIRMWARE_INCLUDE_DOGCOM=y
CONFIG_FIRMWARE_INCLUDE_MINIEAP=y
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_NAPT66=y
CONFIG_FIRMWARE_INCLUDE_VLMCSD=y
CONFIG_FIRMWARE_INCLUDE_TTYD=y
CONFIG_FIRMWARE_INCLUDE_LRZSZ=y
CONFIG_FIRMWARE_INCLUDE_HTOP=y
CONFIG_FIRMWARE_INCLUDE_NANO=n
CONFIG_FIRMWARE_INCLUDE_IPERF3=y
CONFIG_FIRMWARE_INCLUDE_MTR=y
CONFIG_FIRMWARE_INCLUDE_SOCAT=y
CONFIG_FIRMWARE_INCLUDE_SRELAY=y
CONFIG_FIRMWARE_INCLUDE_SSSERVER=n
